a {
    text-decoration: none;
    font-size: 24pt;
    cursor: pointer;
}

td {
    align-content: center;
}

#btn-menu {
    float: right;
    transform: translateY(-50px);
}

th {
    background-color: black !important;
    color: white !important;
}
