html {
    height: 100%;
    background-color: rgba(150, 50, 200, 0.3);
    color: rgba(50, 50, 50, 1);
    font-family: impact, courier;
}

label {
    font-family: verdana, arial, sans-serif;
}

#turnos, #descricao {
    resize: none;
}
